.container {
  padding: 5px;
  background-color: var(--color-bg-primary);
  border-radius: var(--borderRadius-md);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border: 1px solid red;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px;
}

.heading {
  font-size: var(--text-lg);
  font-weight: bold;
  color: var(--color-text-primary);
}

.header svg path {
  color: var(--color-text-primary);
}

.totalBalance {
  margin-top: 10px;
  font-weight: bold;
  font-size: var(--text-lg);
  color: var(--color-link);
  text-align: right;
  padding-right: 20px;
}

.tableContainer {
  max-height: 315px; /* Adjust as per your design */
  overflow-y: auto; /* Enable vertical scroll */
}
