.pageContainer {
  display: flex;
  height: 100%;
}

.content {
  padding: 20px;
  flex-grow: 1;
  height: 100%;
  overflow-y: auto;
}
.headerContainer {
  display: flex;
  flex-direction: column;
}

.headerTop {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* Align title & breadcrumbs to the left */
}

.headerTitle {
  font-size: var(--text-lg);
  font-weight: var(--text-bold);
  margin: 0;
  color: var(--color-text-primary);
}

.headerActions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 10px;
}

@media (max-width: 768px) {
  .headerActions {
    flex-direction: column;
    align-items: flex-start;
  }
}
