.tableWindowWrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  
}

.close {
  position: absolute;
  top: -27px;
  right: -27px;
  padding: 10px;
  cursor: pointer;
  z-index: 2;
}

.close svg {
  height: 2.3em;
  width: 2.3em;
}

.close svg path {
  fill: var(--color-special-red);
}

.tableWindow {
  position: relative;
  border-radius: var(--borderRadius);
  border: 2px solid var(--color-bg-secondary);
  width: 80%;
  height: 90%;
}

.title {
  font-size: var(--text-lg);
  color: var(--color-text-primary);
  font-weight: var(--text-bold);
  text-align: center;
  padding-top: 5px;
}
