.container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.button {
  width: 48%;
  background-color: #9696d6;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  border-radius: 5px;
}

.button:hover {
  background-color: #b1b1e9;
}

.msg {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
}