/* SimulationWindow.module.css */
.container {
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 60%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.cardContainer {
  padding: 20px;
  border-radius: 5px;
  width: 50%;
  width: 400px;
  height: 430px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.title {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
}

.statusMessage {
  text-align: center;
  margin-top: 10px;
}

.timerMessage {
  text-align: center;
  margin-top: 10px;
}

.playButton {
  background-color: #9696d6;
  color: white;
  font-weight: 700;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 20px auto;
}

.playButton:disabled {
  background-color: #cccccc;
  cursor: not-allowed;
}

.simulationContainer {
  margin-top: 30px;
}
