.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-primary);
}

/* h2 styles */
h2 {
  color: var(--color-text-primary);
  margin-bottom: 10px;
  text-align: left;
}

/* .input styles */
.input {
  width: 100%;
  max-width: 545px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: row;
  gap: 20px;
  align-items: center;
  color: var(--color-text-primary);
}

.input label {
  font-weight: bold;
  font-size: 18px;
  flex-shrink: 0;
  width: 120px;
}

.input input {
  width: 100%;
  min-height: 40px;
  font-size: 20px;
  color: var(--color-text-primary);
  padding: 0 10px;
  border: 1px solid var(--color-highlighter-dark-secondary);
  border-radius: 6px;
  outline: none;
  background-color: var(--color-bg-secondary);
  flex-grow: 1;
}

.input input:focus {
  transform: scale(1.02);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input small {
  font-size: 10px;
  color: var(--color-text-secondary);
}

.note {
  margin-bottom: 10px;
  float: left;
}

.buttons {
  padding-top: 20px;
  display: flex;
  gap: 30px;
}
