.mainContainer {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Vertically center the items */
  height: 100%;
  width: 100%;
}

.flexContainer {
  display: flex;
  justify-content: flex-start; /* Align all items in a row */
  align-items: center; /* Vertically center the items */
  gap: 10px; /* Add space between the components */
  width: 100%; /* Makes sure it stretches across the available space */
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-left: auto;
}

.container {
  width: 250px;
  font-size: var(--text-md);
  color: var(--color-text-primary);
}

.row {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.balanceColumn {
  margin-top: 1px;
  padding-top: 5px;
  border-top: 1px solid var(--color-text-primary);
  width: 150px;
}
