.cardContainer {
  width: 90%;
  border-radius: var(--borderRadius);
  padding: 10px 5px;
  background-color: var(--color-bg-secondary);
  cursor: pointer;
}

.label {
  color: white;
  font-size: var(--text-md);
  width: 100%;
  padding: 5px;
  font-weight: bold;
  text-align: center;
}
