.container {
  display: flex; /* Enables flex layout */
  flex-direction: row; /* Align components horizontally */
  justify-content: space-around; /* Space out the components evenly */
  align-items: center; /* Center items vertically */
  gap: 20px; /* Space between components */
  width: 100%; /* Full width of the container */
}

.betInRectangle,
.betInCircle {
  flex: 1; /* Ensures all components take equal space */
  text-align: center;
}
.BetHeader {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: space-between;
}
