.sideTab {
  padding: 10px;
  margin: 7px 5px;
  border-radius: var(--borderRadius);
  border: 1px solid var(--color-bg-dark-secondary);
  font-weight: var(--textBold);
}

.sideTab:hover {
  background-color: var(--color-bg-dark-primary);
}
