.game {
  display: flex;
  flex-direction: row;
  gap: 5px;
  width: 100vw;
  height: 100%;
}

.error p {
  color: red;
}

.mainContent {
  flex: 6;
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 100%;
}
.detailsSection {
  display: flex;
  flex: 4;
  flex-direction: column;
  gap: 5px;
  min-width: 0; /* Prevents flexbox from expanding */
  max-width: 40%;
  border: 1px solid orange;
}

.simulationSection {
  width: 800px;
  height: 400px;
  align-self: flex-end;
}

.betSection {
  height: 100%;
  display: flex;
  flex-direction: column;
  border: 1px solid green;
}

.gameControls {
  display: flex;
  flex-direction: row; /* Default for large screens */
  gap: 5px;
  width: 100%;
}

.gameInterface {
  flex: 1; /* Takes less space */
}

.simulationSection {
  flex: 2; /* Takes more space */
  width: 100%; /* Ensure full width when in column */
}
@media (max-width: 1024px) {
  .gameControls {
    flex-direction: column; /* Switch to column layout on smaller screens */
  }
  .detailsSection {
    flex: 1;
    flex-basis: 100%; /* Takes full width */
    max-width: 100%;
    width: 100%;
  }

  .mainContent {
    flex: 1;
    flex-basis: 100%; /* Takes full width */
    width: 100%;
  }

  .gameInterface {
    width: 100%; /* Full width in column layout */
  }

  .simulationSection {
    width: 100%;
  }
  .mainContent {
    flex: 1;
  }
  .detailsSection {
    display: flex;
    flex: 1;
  }
}

@media (max-width: 1024px) {
  .game {
    flex-direction: column;
  }

  .detailsSection {
    flex: 1;
  }
}

@media (max-width: 900px) {
  .game {
    flex-direction: column;
  }

  .mainContent {
    width: 100%;
  }

  .detailsSection {
    width: 100%;
  }

  .simulationSection {
    width: 100%;
  }
}

@media (max-width: 500px) {
  .game {
    flex-direction: column;
  }

  .gameControls {
    flex-direction: column;
    border: 1px solid red;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .gameInterface {
    flex-direction: row;
  }

  .simulationSection {
    width: 100%;
    height: 100%;
  }
}
