.game {
  width: 100%;
  height: 100%;
  display: flex;
}

.mainContent {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.gameControls {
  height: 50%;
  display: flex;
}

.gameInterface {
  width: 35%;
}

.simulationSection {
  width: 65%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.detailsSection {
  width: 30%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.betSection {
  height: 50%;
}

@media (max-width: 1300px) {
  .gameControls {
    height: 40%;
  }

  .betSection {
    height: 60%;
  }
}

@media (max-width: 900px) {
  .game {
    flex-direction: column;
  }

  .mainContent {
    width: 100%;
  }

  .detailsSection {
    width: 100%;
  }

  .gameInterface {
    width: 30%;
  }

  .simulationSection {
    width: 70%;
    margin-bottom: 12px;
  }
}

@media (max-width: 500px) {
  .game {
    flex-direction: column;
    height: auto;
  }
  .mainContent,
  .detailsSection {
    width: 100%;
  }

 .detailsSection {
    width: 100%;
    height: auto;
    margin-top: 10px;
  }
  .gameControls {
    flex-direction: column;
    width: 100%;
    height: 100%;
  }

  .gameInterface {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
  }
  .simulationSection {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .gameInterfaceMobile {
    display: block;
    width: 100%;
    margin-top: 10px;
 
  display: none;
}

/* Move SimulationSection to the top in mobile view */
.simulationSectionMobile {
  display: block;
  width: 100%;
  margin-bottom: 10px;
}
.simulationSection {
  order: -1; 
}
}


@media (min-width: 500px) {

  .gameNameMobile {
    display: none;
  }
  .gameHeader{
    display: none;
   
  }
  .gameNameMobile {
    display: block;
  }
  .simulationSectionMobile {
    display: none; /* Hide mobile-specific SimulationSection for larger screens */
  }
}
