.scrollBox {
  display: flex;
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  gap: var(--gap);
}

.scrollBox.horizontal {
  flex-direction: row;
  overflow-x: auto;
  white-space: nowrap;
  padding-bottom: 5px;
}

.scrollBox.vertical {
  flex-direction: column;
  overflow-y: auto;
}
