.simulationSection {
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
  font-weight: 800;
  border: 1px solid #8b3b3b;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
