.stakeSection {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 1px;
  align-items: center;
  background: var(--color-bg-primary);
  overflow: auto;
}
