.stakeSection {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  background: var(--color-bg-primary);
  overflow: auto;
  border: 1px solid red;
}
