.stakeSection {
  width: 100%;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  gap: 10px;
  align-items: center;
  background: var(--color-bg-primary);
  overflow: auto;
}

.stakeBlocked {
  padding: 30px 10px;
  color: var(--color-text-primary);
}
