.baseTimer {
  position: relative;
  width: 10vw; /* Use viewport width for responsiveness */
  height: 10vw;
  max-width: 70px; /* Set a maximum size */
  max-height: 70px;
  min-width: 30px; /* Set a minimum size */
  min-height: 30px;
}

.baseTimerSvg {
  transform: scaleX(-1);
}

.baseTimerCircle {
  fill: none;
  stroke: none;
}

.baseTimerPathElapsed {
  stroke-width: 7px;
  stroke: grey;
}

.baseTimerPathRemaining {
  stroke-width: 7px;
  stroke-linecap: round;
  transform: rotate(90deg);
  transform-origin: center;
  transition: 1s linear all;
  fill-rule: nonzero;
  stroke: currentColor;
}

.baseTimerPathRemaining.green {
  color: rgb(65, 184, 131);
}

.baseTimerPathRemaining.orange {
  color: orange;
}

.baseTimerPathRemaining.red {
  color: red;
}

.baseTimerLabel {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3vw; /* Use relative font size */
  font-weight: 800;
}

@media (max-width: 600px) {
  .baseTimer {
    width: 15vw;
    height: 15vw;
  }
  .baseTimerLabel {
    font-size: 4vw;
  }
}
