.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  max-width: var(--maximum-responsive-width);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-header);
  color: var(--color-text-primary);
  font-size: 1.2em;
  height: var(--header-height);
  padding: 0 10px;
  gap: 10px;
}

.header__title {
  font-weight: var(--text-bold);
  font-size: var(--text-lg);
  cursor: pointer;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: var(--header-gap);
}

.fullSection {
  flex: 1;
}

.userId {
  text-wrap: nowrap;
  font-weight: var(--text-bold);
  font-size: var(--text-md);
  color: var(--color-text-primary);
  padding-left: 10px;
}
.hamburger {
  background: none;
  border: none;
  font-size: 1.5em;
  color: var(--color-text-primary);
  cursor: pointer;
  display: none;
}

.menuDropdown {
  position: absolute;
  top: calc(var(--header-height) + 5px);
  right: 10px;
  background: var(--color-bg-primary);
  border-radius: var(--borderRadius-md);
  width: 100%;
  max-width: 90%;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  z-index: 1000;
  overflow-x: auto;
  text-align: center;
  justify-content: right;
}

.menuDropdown p,
.menuDropdown button {
  color: var(--color-text-primary);
  background: none;
  border: none;
  cursor: pointer;
}

/* Show hamburger only on small screens */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }
}
