.headerWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.header {
  max-width: var(--maximum-responsive-width);
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-header);
  color: var(--color-text-primary);
  font-size: 1.2em;
  height: var(--header-height);
  padding: 0 10px;
  gap: 10px;
}

.header__title {
  font-weight: var(--text-bold);
  font-size: var(--text-lg);
  cursor: pointer;
}

.rightSection {
  display: flex;
  align-items: center;
  gap: var(--header-gap);
}

.fullSection {
  flex: 1;
}

.userId {
  text-wrap: nowrap;
  font-weight: var(--text-bold);
  font-size: var(--text-md);
  color: var(--color-text-primary);
}

.hamburger {
  background: none;
  border: none;
  font-size: 1.5em;
  color: var(--color-text-primary);
  cursor: pointer;
  display: flex;
  flex-direction: row;
}

.menuDropdownWrapper {
  position: absolute;
  top: calc(var(--header-height) + 5px);
  right: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuDropdown {
  background: var(--color-bg-primary);
  border-radius: var(--borderRadius-md);
  max-width: 95%;
  padding: 10px;
  z-index: 9999;
  display: flex;
  flex-direction: column; /* Ensure horizontal alignment */
  align-items: center; /* Align elements vertically */
  justify-content: flex-start; /* Start from left */
  gap: 15px;
  overflow-x: auto;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.one,
.two {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

/* Ensure all elements inside menuDropdown are properly aligned */
.menuDropdown > * {
  min-width: fit-content; /* Prevent shrinking */
  flex-shrink: 0; /* Prevent wrapping */
}

.menuDropdown p,
.menuDropdown button {
  color: var(--color-text-primary);
  background: none;
  border: none;
  cursor: pointer;
}

/* Show hamburger only on small screens */
@media (max-width: 768px) {
  .hamburger {
    display: block;
  }

  .two {
    order: 1;
  }

  .one {
    order: 2;
  }
}
/* Show hamburger only on small screens */
@media (max-width: 400px) {
  .one,
  .two {
    flex-direction: column-reverse;
    gap: 20px;
    padding: 5px;
  }
}
