.betInRectangle {
  width: 400px; /* Default width for PC */
  height: 55px;
  padding: 10px;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
  position: relative;
  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
}

/* Medium screens (tablets) */
@media (max-width: 1500px) {
  .betInRectangle {
    width: 200px; /* Reduce width */
  }
}
/* Medium screens (tablets) */
@media (max-width: 1090px) {
  .betInRectangle {
    width: 150px; /* Reduce width */
  }
}

/* Small screens (mobile) */
@media (max-width: 768px) {
  .betInRectangle {
    width: 280px;
  }
}

/* Extra small screens */
@media (max-width: 480px) {
  .betInRectangle {
    width: 100px;
  }
}

.betInPair {
  display: flex;
  height: 55px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
  border: 1px solid #ccc;
  border-radius: var(--borderRadius);
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
  position: relative;
}

/* Full width for mobile screens */
@media (max-width: 768px) {
  .betInPair {
    margin-top: 10px;
    width: 100px;  /* Makes it take full width */
  }
}
@media (min-width: 768px) {
  .betInPair {
    margin-left: 10px;
    
  }
}
.rowContainer {
  display: flex;
  flex-direction: row; /* Place label and column in a row */
  align-items: center; /* Align the label and column container vertically */
  justify-content: space-between; /* Adjust space between label and column */
  gap: 30px;
}

.betInRectangle .betProfit {
  font-weight: var(--textBold);
}

.betInRectangle:hover {
  opacity: 0.8;
}

.labelBetAmount p:first-child {
  font-weight: var(--textBold);
  text-align: left;
  font-size: var(--text-md);
}

.bet p:nth-child(2) {
  text-align: center;
  font-size: calc(0.8 * var(--text-sm));
}

.betInCircle {
  width: 80px;
  height: 80px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  border: 1px solid #ccc;
}

.betInCircle p:nth-child(1) {
  font-weight: var(--textBold);
}

.betInCircle p:nth-child(3) {
  font-size: calc(0.8 * var(--text-sm));
}
