.betInRectangle {
  width: 400px;
  height: 55px;
  padding: 10px;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
  position: relative;

  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
}

.betInPair {
  display: flex;
  height: 55px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
  border: 1px solid #ccc;
  border-radius: var(--borderRadius);

  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
  position: relative;
}

.rowContainer {
  display: flex;
  flex-direction: row; /* Place label and column in a row */
  align-items: center; /* Align the label and column container vertically */
  justify-content: space-between; /* Adjust space between label and column */
  gap: 30px;
}

.betInRectangle .betProfit {
  font-weight: var(--textBold);
}

.betInRectangle:hover {
  opacity: 0.8;
}

.labelBetAmount p:first-child {
  font-weight: var(--textBold);
  text-align: left;
  font-size: var(--text-md);
}

.bet p:nth-child(2) {
  text-align: center;
  font-size: calc(0.8 * var(--text-sm));
}

.betInCircle {
  width: 80px;
  height: 80px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.betInCircle p:nth-child(1) {
  font-weight: var(--textBold);
}

.betInCircle p:nth-child(3) {
  font-size: calc(0.8 * var(--text-sm));
}
