.betOnCard {
  background-color: #fff;
  width: 50px;
  height: 75px;
  border-radius: var(--borderRadius);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1px;

  border: 1px solid var(--color-bg-tertiary);
  cursor: pointer;
  position: relative;
}

.label {
  font-weight: var(--textBold);
  font-size: calc(var(--text-md));
}

.card {
  display: flex;
  justify-content: center;
  gap: 5px;
}

.betAmount {
  font-size: calc(0.8 * var(--text-sm));
}
