.betInRectangle {
  width: 400px;
  height: 55px;
  padding: 10px;
  border-radius: var(--borderRadius);
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  cursor: pointer;
  position: relative;

  padding-left: var(--paddingLeft);
  padding-right: var(--paddingRight);
}

.betInRectangle .betProfit {
  font-weight: var(--textBold);
}

.betInRectangle:hover {
  opacity: 0.8;
}

.labelBetAmount p:first-child {
  font-weight: var(--textBold);
  text-align: left;
  font-size: var(--text-md);
}

.bet p:nth-child(2) {
  text-align: center;
  font-size: calc(0.8 * var(--text-sm));
}

.betInCircle {
  width: 70px;
  height: 70px;
  color: var(--color-text-primary);
  background-color: var(--color-bg-tertiary);
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 100px;
}

.betInCircle p:nth-child(1) {
  font-weight: var(--textBold);
}

.betInCircle p:nth-child(3) {
  font-size: calc(0.8 * var(--text-sm));
}
