.cardSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  height: 100%;
  width: 100%;
}

.cardToPlayer {
  display: flex;
  width: 100%;
  border: 1px solid red;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: var(--color-bg-tertiary);
  color: var(--color-text-primary);
  border-radius: var(--borderRadius);
  padding-left: 20px;
}

.cardsContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  overflow-x: auto;
  width: 100%;
}
