.routingWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.routing {
  max-width: var(--maximum-responsive-width);
}

.routing {
  height: calc(100vh - var(--header-height));
  width: 100vw;
  overflow: auto;
}
.loaderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full viewport height */
  width: 100vw; /* Full viewport width */
  position: fixed; /* Fixed position to cover entire screen */
  top: 0;
  left: 0;

  z-index: 9999; /* Ensure loader appears on top */
}
