/* AgentHeader.module.css */
.mainContainer {
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: end;
}

.flexContainer {
  display: flex;
  justify-content: flex-start; /* Align items to the left */
  align-items: center; /* Center items vertically */
  gap: 15px; /* Space between items */
}

.buttonContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 16px;
  width: 100%;
  margin-left: auto;
}

.container {
  width: 250px;
  font-size: var(--text-md);
  color: var(--color-text-primary);
}

.row {
  display: flex;
  gap: 8px;
  margin-bottom: 8px;
}

.userDetail {
  display: flex;
  flex-direction: column;
}

.balanceColumn {
  margin-top: 1px;
  padding-top: 5px;
  border-top: 1px solid var(--color-text-primary);
  width: 150px;
}
