.form {
  display: flex;
  flex-direction: column;
  justify-content: center; /* Center items vertically */
  align-items: center; /* Center items horizontally */
  background-color: var(
    --color-bg-primary
  ); /* Light/dark background based on theme */
  padding: 0;
}

/* h2 styles */
h2 {
  color: var(--color-text-primary); /* Light/dark text color */
  margin-bottom: 10px; /* Reduced space below heading */
  text-align: left; /* Align heading with form content */
}

/* .input styles */
.input {
  width: 100%;
  max-width: 545px;
  display: flex;
  margin-bottom: 10px;
  flex-direction: row; /* Align label and input on the same line */
  gap: 20px; /* Adjusted spacing between label and input */
  align-items: center; /* Vertically center label and input */
  color: var(--color-text-primary); /* Light/dark text color */
  text-align: center;
}

.input label {
  font-weight: bold;
  font-size: var(--text-md);
  flex-shrink: 0; /* Prevent label from shrinking */
  width: 120px; /* Set a fixed width for the label */
}

.input input {
  width: 100%;
  min-height: 40px;
  font-size: var(--text-lg);
  color: var(--color-text-primary); /* Light/dark text color */
  padding: 0 10px;
  border: 1px solid var(--color-highlighter-dark-secondary); /* Light/dark border color */
  border-radius: var(--borderRadius);
  outline: none;
  background-color: var(
    --color-bg-secondary
  ); /* Light/dark background color for input */
  flex-grow: 1; /* Ensure input box takes up remaining space */
}

.input input:focus {
  transform: scale(1.02);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.input small {
  font-size: var(--text-sm);
  color: var(--color-text-secondary); /* Light/dark text color for small text */
}

.note {
  margin-bottom: var(--borderRadius-md); /* Existing margin */
  color: var(--color-text-secondary); /* Light/dark text color for small text */

  float: left; /* Floats the element to the left */
  margin-left: -50px; /* Adjusted margin to the left  , need to be changed later*/
}
