.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--color-bg-primary);
  padding: 1rem;
  width: 100%;
  max-width: 600px;
  margin: auto;
}

/* h2 styles */
h2 {
  color: var(--color-text-primary);
  text-align: center;
  font-size: clamp(1.5rem, 2.5vw, 2rem);
}

/* Input container */
.input {
  width: 100%;
  max-width: 545px;
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: space-between;
  color: var(--color-text-primary);
  text-align: left;
}

/* Label */
.input label {
  font-weight: bold;
  font-size: clamp(0.9rem, 1.2vw, 1rem);
  flex-shrink: 0;
  white-space: nowrap;
}

/* Input field */
.field {
  width: 100%;
  min-height: 40px;
  font-size: var(--text-lg);
  color: var(--color-text-primary);
  padding: 0 10px;
  border: 1px solid var(--color-highlighter-dark-secondary);
  border-radius: var(--borderRadius);
  outline: none;
  background-color: var(--color-bg-secondary);
  flex-grow: 1;
  transition: all 0.2s ease-in-out;
}

.field:focus {
  transform: scale(1.02);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
}

/* Small text */
.input small {
  font-size: var(--text-sm);
  color: var(--color-text-secondary);
}

/* Note */
.note {
  margin-bottom: var(--borderRadius-md);
  color: var(--color-text-secondary);
  margin-left: 0;
  font-size: clamp(0.8rem, 1vw, 0.9rem);
}

/* Disabled Input */
.disable {
  border: 1px solid var(--color-special-gold);
  color: var(--color-special-white);
  font-weight: var(--text-bold);
}

.maxLimit {
  color: var(--color-special-red);
  font-weight: bolder;
}

/* Responsive adjustments */
@media (max-width: 900px) {
  /* For medium and small screens */
  .input {
    flex-direction: column; /* Stack label and input in column */
    align-items: flex-start; /* Align text to left */
    gap: 10px; /* Reduce gap for better spacing */
  }

  .input label {
    width: 100%;
    text-align: left;
  }

  .field {
    width: 100%;
  }
}
