.tab {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: var(--borderRadius);
  cursor: pointer;
  color: var(--color-text-primary);
}

.tab:hover {
  background-color: var(--color-special-hover);
  color: var(--color-text-placeholder);
}
.text {
  white-space: nowrap; /* Prevent text from wrapping */
  overflow: hidden; /* Hide overflowed content */
  text-overflow: ellipsis; /* Add ellipsis (...) to indicate truncated text */
  text-decoration: none; /* Remove underline or any other text decoration */
}
