/* Header.css */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-bg-primary);
  color: var(--color-text-primary);
  padding: 10px 20px;
  font-family: Arial, sans-serif;
  font-size: 18px;
}

.left {
  font-weight: bold;
}

.right {
  font-style: italic;
}
