.breadcrumbs {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
  color: var(--color-text-primary);
  flex-wrap: wrap;
  padding: 5px 0;
}

.breadcrumbItem {
  display: flex;
  align-items: center;
  font-size: var(--text-sm);
}

.breadcrumbLink {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
  font-size: var(--text-sm);
  word-break: break-word;
}

.breadcrumbLink:hover {
  text-decoration: underline;
}

.separator {
  margin: 0 2px;
  color: var(--color-text-primary);
}

.currentBreadcrumb {
  color: var(--color-text-tertiary);
  word-break: break-word;
}

.desktopBreadcrumbs {
  display: flex;
  align-items: center;
}

.mobileBreadcrumbs {
  display: none;
  align-items: center;
  gap: 4px;
}

.ellipsis {
  color: var(--color-text-primary);
  cursor: pointer;
  transition: color 0.2s ease;
}

.ellipsis:hover {
  color: #007bff;
  text-decoration: underline;
}

@media (max-width: 768px) {
  .desktopBreadcrumbs {
    display: none;
  }

  .mobileBreadcrumbs {
    display: flex;
  }
}

.desktopBreadcrumbs {
  display: flex; /* Default display for larger screens */
}

.mobileBreadcrumbs {
  display: none; /* Hide mobile breadcrumbs by default */
}

@media (max-width: 1024px) {
  .desktopBreadcrumbs {
    display: none; /* Hide breadcrumbs on medium screens and smaller */
  }

  .mobileBreadcrumbs {
    display: flex; /* Show mobile breadcrumbs on medium screens and smaller */
  }
}
