/* .btn styles */
.btn {
  padding: 12px 25px;
  cursor: pointer;
  background-color: var(--color-special-red);
  border-radius: var(--borderRadius);
  border: 2px solid var(--color-text-placeholder);

  color: var(--color-text-primary);
  font-size: var(--text-sm);
  font-weight: bold;
  transition: 0.35s;
  text-wrap: nowrap;
}

.btn:hover {
  background-color: var(--color-red-hover);
}

.btn:focus {
  transform: scale(1.05);
}
