.cardContent {
  position: relative;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 10;
}

.filterOptionsModal {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-bg-primary);
  padding: 20px;
  width: 80%;
  max-width: 500px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 20;
  display: flex;
  flex-direction: column;
}

.closeBtn {
  background: #f44336;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.filterOptions {
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px; 
  grid-auto-flow: dense;
}

.filterOptions > *:nth-last-child(1):nth-child(odd) {
  grid-column: span 2;
}

.formGroup {
  margin-bottom: 15px;
}

.input,
.select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.button {
  background: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
}
label {
  color: var(--color-text-primary);
}
