.divButton {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 7px;
  cursor: pointer;
  /* border: 2px solid var(--color-text-primary); */
  border-radius: var(--borderRadius);
  background: var(--color-bg-tertiary);
  user-select: none;
  width: 125px;

  justify-content: center; /* Ensure the content (icon + label) is centered */

  transition: background-color 0.3s ease;
}

.divButton:hover {
  background-color: var(
    --color-bg-hover
  ); /* Optional: Change background on hover */
}

.icon {
  margin-right: 4px;
}

.label {
  font-size: var(--text-md);
  color: var(--color-text-primary);
}
