.inputWrapper {
  position: relative;
}

.input {
  width: 350px;
  min-height: 45px;
  font-size: 18px;
  padding: 10px;
  background-color: var(--color-bg-secondary);
  border-radius: var(--borderRadius);
  border: 1px solid var(--color-bg-secondary);
  color: var(--color-text-primary);
  outline: none;
  transition: 0.35s;
  resize: vertical;
}

.input::placeholder {
  color: var(--color-text-secondary);
}

.visibilityIcon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  transition: 0.3s;
}

input[type="password"] {
  letter-spacing: 2px;
}

.visibilityIcon svg path {
  color: var(--color-text-primary);
}
