.betOnBottom {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  padding: 10px 5px;
}

.lowHighEvenOdd {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.lowHigh {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.playerName {
  color: var(--color-text-primary);
  font-weight: var(--text-bold);
  font-size: calc(2 * var(--text-sm));
}

@media (max-width: 1000px) {
  .lowHighEvenOdd {
    flex-direction: column;
  }
}
