.gameListWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  min-height: 100vh;
  padding-bottom: var(--header-height);
  padding-top: var(--header-height); /* Pushes content below the header */
  overflow-y: auto; /* Enables vertical scrolling if needed */
}

.gameList {
  max-width: 1200px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding: 50px;
}

h2 {
  text-align: center;
}
