/* .input styles */
.input {
  width: 245px;
  min-height: 45px;
  font-size: 18px;
  color: var(--color-text-primary); /* Light/dark text color */
  outline: none;
  transition: 0.35s;
  padding: 0px 7px;
  background-color: var(--color-bg-secondary); /* Light/dark background color */
  border-radius: var(--borderRadius); /* Border radius */
  border: 2px solid var(--color-bg-secondary); /* Light/dark border color */
  position: relative; /* Position relative to place the button inside */
}

/* Placeholder styles */
.input::placeholder {
  color: var(--color-text-secondary); /* Light/dark placeholder text */
}

/* Focus styles for input */
.input:focus {
  transform: scale(1.05);
  box-shadow: 6px 6px 10px rgba(0, 0, 0, 0.3),
    1px 1px 10px rgba(255, 255, 255, 0.6), inset 2px 2px 10px rgba(0, 0, 0, 0.3),
    inset -1px -1px 5px rgba(255, 255, 255, 0.6);
  border-color: var(
    --color-highlighter-dark-primary
  ); /* Highlight border on focus */
}

/* .visibilityIcon styles */
.visibilityIcon {
  position: absolute;
  right: 10px; /* Position on the right side of the input */
  top: 60%;

  padding: 5px;
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--borderRadius-lg); /* Rounded button */
  transition: 0.3s;
  margin-top: -5px;
}
